@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar&family=Roboto&display=swap');

$font-primary: 'Eczar', serif;
$font-secondary: 'Roboto', sans-serif;
;
$text-color-primary: #ffff;
$text-color-secondary: #0ee73d;
$text-color-logo: red;
$bg_sign: #A0E7E5;
$bg_form: #B4F8C8;
$bg_title: #81e496;



@mixin container-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background: url(../images/bg_main.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;

    .navbar-brand {
        color: $text-color-logo;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 600;
        font-family: $font-primary;
    }

    .navbar-nav .nav-item {
        font-size: 1.3rem;

        a {
            text-transform: capitalize;
            color: $text-color-secondary;
            font-family: $font-secondary;
        }

        .active {
            color: $text-color-primary;
            text-decoration: none;
            // outline: 1px solid peru;
            border-bottom: 3px solid $text-color-primary;
            // font-size: px;


        }


    }

    .sign {
        font-size: 1.3rem;
        font-family: $font-secondary;

        &:hover {
            background-color: $text-color-primary;
            color: $text-color-logo;
        }
    }

}




.landing-container {
    margin-top: 10rem;
    margin-left: 6rem;
    color: $text-color-primary;
    font-family: $font-primary;

    p,
    button {
        font-family: $font-secondary;
    }

    h1 {
        font-size: 5rem;
        color: $text-color-secondary;
    }

    p {
        font-size: 1.2rem;
    }

}

.main {
    width: 100%;
    height: 100vh;
    background: $bg_sign;   
    @include container-center;

    .main-box {
        width: 80%;
        height: 80%;
        #signup-box{
            h2{
                font-size: 2rem;
            }
            font-size: 0.8em;
        }

        .title-box {
            // @include container-center;
            background: $bg_title;
            padding: 2rem 4rem;
            text-align: center;
            h2,h4{
                font-family: $font-primary;
                font-size: 3.5rem;
            }
            h4{
                font-size: 2.7rem;
            }
            p{
                font-family: $font-secondary;
                font-size: 1.5rem;
            }
        }

        .form-box {
            // @include container-center;
            
            background: $bg_form;
            padding: 2rem 4rem;
            font-family: $font-secondary;
            font-size: 1.2rem   ;
            
            
            h2{
                font-family: $font-primary;
                font-size: 3rem;
                text-align: center;
                
            }
            .forget{
                
                cursor: pointer;
                color: $text-color-secondary     ;
                letter-spacing: .3rem;
                text-decoration: underline  ;
                // text-decoration: underline;
            }
            .btn{
                font-size: 1.4rem;
            }
            .signup_click{
                span{
                    color: $text-color-secondary;
                    font-weight: 500;
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
            #signup-btn{
                width: 100%;
                border-radius: 3rem;
            }
        }
        .inner{
            // margin-top: 9%;
        }

    }

}