@import url("https://fonts.googleapis.com/css2?family=Eczar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Eczar&family=Roboto&display=swap");
header {
  background-image: url(../images/bg_main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100vh;
}
header nav .icon-container {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
header nav .icon-container h6 {
  color: black;
  text-decoration: underline;
  margin: 1rem;
}
header nav .icon-container i {
  font-size: 3rem;
  color: #0ee73d;
}
header .navbar-brand {
  color: red;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Eczar", serif;
}
header .navbar-nav .nav-item {
  font-size: 1.3rem;
}
header .navbar-nav .nav-item a {
  text-transform: capitalize;
  color: #0ee73d;
  font-family: "Roboto", sans-serif;
}
header .navbar-nav .nav-item .active {
  color: white;
  text-decoration: none;
  border-bottom: 3px solid white;
}
header .sign {
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
}
header .sign:hover {
  background-color: white;
  color: red;
}

.landing-container {
  margin-top: 10rem;
  margin-left: 6rem;
  color: white;
  font-family: "Eczar", serif;
}
.landing-container p,
.landing-container button {
  font-family: "Roboto", sans-serif;
}
.landing-container h1 {
  font-size: 5rem;
  color: #0ee73d;
}
.landing-container p {
  font-size: 1.2rem;
}

.bg {
  background: #A0E7E5;
}

.main {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .main-box {
  width: 80%;
  height: 80%;
  opacity: 0.9;
}
.main .main-box #signup-box {
  font-size: 0.8em;
}
.main .main-box #signup-box h2 {
  font-size: 2rem;
}
.main .main-box .title-box {
  background: #81e496;
  padding: 2rem 4rem;
  text-align: center;
}
.main .main-box .title-box h2, .main .main-box .title-box h4 {
  font-family: "Eczar", serif;
  font-size: 3.5rem;
}
.main .main-box .title-box h4 {
  font-size: 2.7rem;
}
.main .main-box .title-box p {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}
.main .main-box .title-box #signp-title h2 {
  font-size: 2rem;
}
.main .main-box .title-box #signp-title h4 {
  font-size: 1rem;
}
.main .main-box .title-box #signp-title p {
  font-size: 1rem;
}
.main .main-box .form-box {
  background: #B4F8C8;
  padding: 2rem 4rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}
.main .main-box .form-box h2 {
  font-family: "Eczar", serif;
  font-size: 3rem;
  text-align: center;
}
.main .main-box .form-box .forget {
  cursor: pointer;
  color: #0ee73d;
  letter-spacing: 0.3rem;
  text-decoration: underline;
}
.main .main-box .form-box .btn {
  font-size: 1.4rem;
}
.main .main-box .form-box .signup_click span {
  color: #0ee73d;
  font-weight: 500;
  cursor: pointer;
  text-decoration: underline;
}
.main .main-box .form-box #signup-btn {
  width: 100%;
  border-radius: 3rem;
}

.profile-main-container .card-container {
  padding: 1rem;
}
.profile-main-container .card-container .data-content {
  padding: 0rem 3rem;
}
.profile-main-container .card-container .card-inner {
  width: 100%;
  height: 100%;
  background: #c9c9c9;
}
.profile-main-container .card-container .card-inner h2 {
  font-family: "Eczar", serif;
  font-size: 3rem;
  text-align: center;
  text-decoration: underline;
}
.profile-main-container .card-container .card-inner div {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
.profile-main-container .card-container .card-inner .history-container {
  position: relative;
}
.profile-main-container .card-container .card-inner .history-container table {
  background-color: #555;
  color: white;
}
.profile-main-container .card-container .card-inner .history-container table th {
  text-decoration: none;
  padding: 1rem;
  border: 1px solid white;
}
.profile-main-container .card-container .card-inner .history-container .order {
  background: #555;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-main-container .card-container .card-inner .history-container h6 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: white;
}/*# sourceMappingURL=main.css.map */